@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis:YEAR@1979&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis:YEAR@1979&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(20, 23, 20);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4,h5,span,p{
  color: rgb(225, 226, 227);
  padding: 0;
  margin: 0;
}


ul,ol{
  list-style: none;
  margin: 0;
  padding: 0;
}